@use 'base';
.header 
{
    background-image: linear-gradient( rgba(base.$color-secondary, .93), rgba(base.$color-secondary, .93)  ), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    grid-column: full-start/col-end 6;

    padding: 8rem;
    padding-top: 4rem;
    display: grid;

    grid-template-rows: .4fr min-content minmax(min-content, max-content) .2fr max-content;
    grid-template-columns: minmax(min-content,max-content);
    row-gap: 2rem;
    justify-content: center;
    align-content: center;


    &__logo
    {
        height: 3rem;
        justify-self: center;
    }
    &__btn 
    {
        align-self: start;
        justify-self: start;
    }
    &__seenon-text
    {
        display: grid;
        font-size: 1.6rem;
        color: base.$color-grey-light-2;
        grid-template-columns: 1fr max-content 1fr;
        align-content: center;
        column-gap: 1.5rem;

        &::before, &::after
        {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
    
        }
    }
    
    &__seenon-logos
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        column-gap: 3rem;

        img
        {
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(70%);

        }
    }
}



