@use 'base';
.realtors 
{
    background-color: base.$color-secondary;
    grid-column: col-start 7/full-end;

    padding: 3rem;
    color: #fff;
    display: grid;
    align-content: center;
    justify-content:center;
    grid-row-gap: 2rem;
    justify-items: center;
    @media only screen and (max-width: base.$bp-medium)
    {
        grid-column: 1/-1;
    }

    &__img
    {
        height: 5rem;
        border-radius: 50%;
        display: block;

    }
    &__list
    {   
        display: grid;
        grid-template-columns: min-content max-content;
        justify-content: center;
        align-content: center;
        grid-row-gap: 5vh;
        grid-column-gap: 2rem;
        align-items: center;

        @media only screen and (max-width: base.$bp-medium)
        {
            grid-template-rows: min-content;
            grid-template-columns: repeat(6, minmax(min-content, max-content));

        }

    }

    &__details
    {

    }

    &__sold
    {
        color: base.$color-grey-light-2;
        text-transform: uppercase;
        font-size: .8rem;
        margin-top: -3px;

    }
}