@use 'base';
.sidebar
{
    background-color: base.$color-primary;
    grid-column: sidebar-start/ sidebar-end;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: base.$bp-large)
    {
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-content: end;
        align-items: center;
    }
}

.nav-btn 
{
    border: none;
    border-radius: 0;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
    background-color: blue;

     @media only screen and (max-width: base.$bp-large)
    {
        margin-top: 0;
        margin-right: 3rem;
    }
    &::before, &::after 
    {
        content: "";
        height: 2px;
        width: 4.5rem;
        display: block;
    }

    &::before
    {
        transform: translateY(-1.5rem);
        background-color:yellow;
    }

    &::after
    {
        transform: translateY(1.5rem);
        background-color: red;
    }
}